#pic{
    height: 500px;
    background-image: url("https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/e-learning-now-serious.jpg");
    background-size: cover;
    font-size: 54px;
    z-index: -1;
}
button{
    height: 50px;
    width: 100px;
}
button:hover{
    cursor: pointer;
    color: white;
    transition: 1s;
    background-color: black ;
    
}

/* =========================================== */
a.btn{
    display:inline-block;
    padding: 8px 20px;
    text-decoration: none;
    border: 2px solid black;
    color: rgb(189, 37, 37);
    border-radius: 20px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    
 }
 a.btn:hover{
    border-color: orangered;
    color: white;
    
 }
 a.btn::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:black;
    top: 0;
    left: -100%;
    z-index: -2;
    transition: 0.5s;
    color: white;

 }
 a.btn:hover::before{
    left: 0;
 }

 